@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
:root{
    --ligth-blue-100: #F3F5FC;
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --gray-500: #343A40;
    --gray-400: #495057;
    --gray-100: #CED4DA;
    --blanco: white
}
/* ----------------------------------------- */
.hidden{
    display: none;
}
/* ----------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F5FC;
    height: 100vh;
    width: 100%;
    position: absolute;

}

header{
    position: absolute;
    margin: 40px 0px 0px 40px;
    
}
header .about{
    color: var(--dark-blue-300);
}
.logo{
    margin: 40px 0 0 40px;
}
/* ====================================== */
/* ============   MAIN   ============= */
/* ====================================== */

main{
    width: 100%;
}
.hero{
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: var(--ligth-blue-100);
    border: 1px solid red;
    margin-right: 40px;
}
/* ====================================== */
/* =======   SECCION ENCRIPTADO  ======== */
/* ====================================== */
.wrapper__Text{
    width: 60%;
    height: 480px;
    margin-top: 168px;
    margin-left: 180px;
    border: 1px dashed red;
    display: flex;
    flex-direction: column;
}
.texto{
    font-weight: 400;
    font-size: 32px;
    outline: none;
    border: none;
    border-radius: 16px;
    resize: both;
    background-color: transparent;
    color: var(--dark-blue-300);
}
.texto::placeholder{
    color: var(--dark-blue-300);
}
.terminos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
}

.terminos p {
    font-size: 12px;
    color: var(--gray-400);
}

/* ------------   BOTONES   ------------- */

.wrapper__buttons{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}
.wrapper__buttons .btn{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
}
.wrapper__buttons .btn__encrypt{
    background-color: var(--dark-blue-300);
    color: var(--blanco);
    border: 1px solid --dark-blue-300;
}
.wrapper__buttons .btn__encrypt:hover{
    background-color: var(--dark-blue-200);
    color: var(--ligth-blue-100);
    border: 1px solid --dark-blue-300;
    cursor: pointer;
}
.wrapper__buttons .btn__decrypt{
    background-color: var(--gray-100);
    color: var(--dark-blue-300);
    border: 1px solid --dark-blue-300;
}
.wrapper__buttons .btn__decrypt:hover{
    background-color: var(--gray-400);
    color: var(--gray-100);
    border: 1px solid --dark-blue-300;
    cursor: pointer;
}
.btn__copiar{
    width: 300px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
}
.btn__copiar:hover{
    background-color: var(--dark-blue-200);
    color: var(--ligth-blue-100);
    border: 1px solid --dark-blue-300;
    cursor: pointer;
}

/* ====================================== */
/* ======   SECCION DESENCRIPTADO  ====== */
/* ====================================== */

.wrapper__result{
    max-width: 400px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--blanco);
    box-shadow: 10px 24px 32px -8px var(--gray-500);
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 32px;
    text-align: center;
}


/* ====================================== */
/* ======          FOOTER          ====== */
/* ====================================== */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-100);
    height: 80px;
    width: 100%;
    border: 1px solid blue;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer p{
    color: var(--dark-blue-300);
}